@import "colors";

body {
  background-color: $bg;
}

* {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  transition: all .2s ease;
  &.no-scroll {
    position: fixed !important;
    transition: all .2s ease;
  }
}

h1, h2, h3, h4, h5, p {
  -webkit-font-smoothing: antialiased;
  padding: 0 0 25px 0;
  margin: 0;
}

h3 {
  color: $prored;
}

.topbar {
  position: fixed;
  height: 82px;
  width: 100vw;
  display: flex;
  background-color: $prored;
  justify-content: center;
  align-items: center;
  z-index: 10;
  img {
    height: 51px;
  }
}

.sidebar {
  position: fixed;
  background-color: $darkergray;
  width: 82px;
  height: 100vh;
  top: 0;
  z-index: 9;
  padding-top: 82px;
  .option {
    position: relative;
    display: flex;
    height: 82px;
    border-bottom: 2px solid #979797;
    align-items: center;
    justify-content: center;
    span {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      text-decoration: none;
      color: $matblack;
      font-size: 11px;
      text-align: center;
      font-family: OpenSans-ExtraBold, sans-serif;
    }
    img {
      width: 40px;
    }
  }
}

main {
  width: 100vw;
}

section {
  overflow: visible;
  //position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 182px;
}

article {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 10px 10px 40px 6px rgba(0,0,0,0.38);
  padding: 42px 82px;
  min-height: 40vh;
  min-width: 50vw;
  display: flex;
  justify-content: start;
  flex-direction: column;
  &#result {
    margin-top: 400px;
    transition: all .2s ease;
    h4 {
      color: $prored;
      font-family: OpenSans-ExtraBold, sans-serif;
    }
    &.active {
      margin-top: 100px;
      transition: all .2s ease;
      margin-bottom: 14px;
    }
    .prob-container {
      canvas {
        margin: auto;
      }
    }
  }

  h3 {
    font-family: OpenSans-ExtraBold, sans-serif;
    font-size: 22px;
    color: #B20A2F;
    letter-spacing: 0;
  }

  form {
    margin-bottom: 62px;
    .group {
      display: flex;
      padding-bottom: 10px;
      label {
        font-family: OpenSans-ExtraBold, sans-serif;
        font-size: 14px;
        color: #4F4F4F;
        letter-spacing: 0;
        display: inline-block;
        width: 150px;
        &.small-label {
          padding-left: 10px;
        }
      }
      input, select {
        width: 77px;
        &.small-input {
          width: 73px;
        }
      }

    }
    .submit-button {
      position: absolute;
      bottom: 47px;
      right: 82px;
      background-color: transparent;
      border: none;
      color: $prored;
      font-family: OpenSans-ExtraBold, sans-serif;
      font-size: 18px;
      letter-spacing: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      img {
        padding-left: 10px;
        transform: rotate(90deg);
      }
    }
  }
}

#result {
  #reset {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    height: 21px;
    width: 21px;
    transition: all .6s ease;
    &:hover {
      rotation-point: center;
      transform-origin: center;
      transform: rotate(-360deg);
      transition: all .6s ease;
    }
  }
}
