<!DOCTYPE html>
<html lang="en">
    <head>
<!--        {% assets "admin_js" %}-->
<!--            <script type="text/javascript" src="{{ ASSET_URL }}"></script>-->
<!--        {% endassets %}-->
        {% assets "main_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <header>
        <div class="topbar">
            <img src="{{url_for('static', filename='images/logo.svg')}}">
        </div>
        <div class="sidebar">
            <a href="/reactie" class="option">
                <img src="{{url_for('static', filename='images/train.svg')}}">
                <span>Reactieduur</span>
            </a>
            <a href="/easymode" class="option">
                <img src="{{url_for('static', filename='images/train.svg')}}">
                <span>Easy mode</span>
            </a>
            <a href="/" class="option">
                <img src="{{url_for('static', filename='images/train.svg')}}">
                <span>Hersteltijd</span>
            </a>
        </div>
    </header>
    <main>
        <section>
            <article>
                {% block content %}
                {% endblock %}
            </article>
            <article class="result">
                <span id="reset">
                    <img src="{{url_for('static', filename='images/reset.svg')}}">
                </span>
                {% block result %}
                {% endblock %}
            </article>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js" integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="static/js/predict.js"></script>
    </body>
</html>