{% extends 'base.html' %}

{% block content %}
    <h3>Gegevens vertraging</h3>
    <form class="form" role="form">
        <input type="text" id="test1" name="test1" placeholder="test1" required autofocus>
        <input type="text" id="test2" name="test2" placeholder="test2" required>
        <button class="submit-button" type="button">Resultaat bekijken<img src="{{url_for('static', filename='images/arrow.svg')}}" alt=""></button>
    </form>
{% endblock %}

{% block result %}
    <h3>Gegevens vertraging</h3>
    <p>Resultaat bekijken</p>
{% endblock %}