{% extends 'base.html' %}

{% block content %}
    <h3>Gegevens vertraging</h3>
    <form class="form" role="form">

        <div class="group">
            <!-- stm_km_tot_mld ?-->
            <label for="stm_km_tot_mld">Meters tot </label>
            <input type="text" id="stm_km_tot_mld" name="stm_km_tot_mld" placeholder="melding" required autofocus>

            <!-- meldtijd_h ?-->
            <label for="meldtijd" class="small-label">Meldtijd</label>
            <input type="time" id="meldtijd" name="meldtijd" class="small-input" required>

        </div>




        <div class="group">

            <!-- stm_equipm_soort_mld ?-->
            <label for="stm_equipm_soort_mld">Equipment nummer</label>
            <select class="js-example-basic-single" name="stm_equipm_soort_mld" id="stm_equipm_soort_mld">
                {% for e in soort_equipment %}
                    <option value="{{e}}">{{e}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="group">

            <!--Traject-->
            <label for="traject">Traject</label>
            <select class="js-example-basic-single" id="traject" name="traject">
                {% for t in traject_options %}
                    <option value="{{t}}">{{t}}</option>
                {% endfor %}
            </select>
        </div>


        <div class="group">
            <!-- stm_techn_mld ?-->
            <label for="stm_techn_mld">Techniek melding</label>
            <select name="stm_techn_mld" id="stm_techn_mld" class="js-example-basic-single">
                {% for k,v in techniek.items() %}
                    <option value="{{k}}">{{v}}</option>
                {% endfor %}
            </select>
        </div>

        <button class="submit-button" type="button" data-url="reactie">Resultaat bekijken<img src="{{url_for('static', filename='images/arrow.svg')}}" alt=""></button>
    </form>
{% endblock %}

{% block result %}
    <<h3>Resultaat</h3>

    <h4>Voorspelde Reactie duur:</h4>
    <p>Op basis van uw gegevens voorspellen wij een Reactie duur van <b><span style="color: #B20A2F" id="hersteltijd"></span></b> minuten.</p>

    <div class="prob-container">
        <h4>Zekerheid van voorspelde Reactie duur :</h4>
      <canvas id="probChart" height="400" width="400"></canvas>
    </div>
{% endblock %}