{% extends 'base.html' %}

{% block content %}
    <h3>Gegevens vertraging</h3>
    <form class="form" role="form">

        <div class="group">
            <!-- stm_km_tot_mld ?-->
            <label for="stm_km_tot_mld">Meters tot </label>
            <input type="text" id="stm_km_tot_mld" name="stm_km_tot_mld" placeholder="melding" required autofocus>

            <!-- stm_km_van_mld ?-->
            <label for="stm_km_van_mld" class="small-label">Meters van </label>
            <input type="text" id="stm_km_van_mld" name="stm_km_van_mld" placeholder="melding" class="small-input" required>
        </div>

        <div class="group">
            <!-- meldtijd_h ?-->
            <label for="meldtijd">Meldtijd</label>
            <input type="time" id="meldtijd" name="meldtijd" required>

            <!-- smt_reactie_duur ?-->
            <label for="smt_reactie_duur" class="small-label">Reactieduur</label>
            <input type="number" id="smt_reactie_duur" name="smt_reactie_duur" placeholder="Minuten" class="small-input" required>
        </div>

        <div class="group">

            <!-- stm_prioriteit ?-->
            <label for="stm_prioriteit">Prioriteit</label>
            <select name="stm_prioriteit" id="stm_prioriteit">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>

            <!-- stm_fh_status ?-->
            <label for="stm_fh_status" class="small-label">Herstel status</label>
            <select name="stm_fh_status" id="stm_fh_status" class="small-input">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>

        <div class="group">

            <!-- stm_equipm_soort_mld ?-->
            <label for="stm_equipm_soort_mld">Equipment nummer</label>
            <select class="js-example-basic-single" name="stm_equipm_soort_mld" id="stm_equipm_soort_mld">
                {% for e in soort_equipment %}
                    <option value="{{e}}">{{e}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="group">

            <!--Traject-->
            <label for="traject">Traject</label>
            <select class="js-example-basic-single" id="traject" name="traject">
                {% for t in traject_options %}
                    <option value="{{t}}">{{t}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="group">

            <!-- Oorzaak ?-->
            <label for="Oorzaak">Oorzaak</label>
            <select class="js-example-basic-single" name="Oorzaak" id="Oorzaak">
                {% for o in oorzaak %}
                    <option value="{{o}}">{{o}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="group">
            <!-- stm_techn_mld ?-->
            <label for="stm_techn_mld">Techniek melding</label>
            <select name="stm_techn_mld" id="stm_techn_mld" class="js-example-basic-single">
                {% for k,v in techniek.items() %}
                    <option value="{{k}}">{{v}}</option>
                {% endfor %}
            </select>
        </div>

        <button class="submit-button" type="button" data-url="reactie">Resultaat bekijken<img src="{{url_for('static', filename='images/arrow.svg')}}" alt=""></button>
    </form>
{% endblock %}

{% block result %}
    <h3>Gegevens vertraging</h3>
    <p>Resultaat bekijken</p>
{% endblock %}